@model int
@{
    ViewData["Title"] = "Home Page";
    Layout = (Model == 99) ? "_LayoutAdimn" : "_layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome Heba</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
